.cardContainer {
    margin: 0 auto;
    max-width: 1000px;

}

.requestContent {
    margin: 10px;
    padding: 20px;
    border: #BDE3FF solid 2px;
    display: flex;
    justify-content: space-between;

}

.requestContent div {
    color: #3134C8;

}

.statusRequest {

    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.statusTime {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    margin-top: auto;
}


.statusSection {
    margin-top: 20px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 65px;
    margin-bottom: 0;
    border-radius: 10px;

}


.deleteRequest {
    background: #3f46ce;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    width: 65px;
    margin-bottom: 0;
    border-radius: 10px;

}


.requestContent .carouselRequest {
    overflow: hidden;
    width: 400px;
    border-radius: 30px;

}


.requestContent .swiperSlideImage img {
    width: 400px;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.requestContent .swiperSlideImage {
    width: 400px;
    height: 250px;
    object-fit: cover;
}


@media (max-width: 700px) {
    .requestContent .carouselRequest {
        width: 250px;

    }


    .cardRequests, .requestContent {
        overflow: hidden;

    }

    .requestContent {
        flex-direction: column;
        align-items: center;
    }

    .clientContainer {
        margin-top: 20px;

    }

    .agentContainer {
        flex-direction: column;

    }

    .statusRequest {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 60px;
        padding-bottom: 20px;
    }


    .requestContent .swiperSlideImage img {
        width: 250px;
    }

    .requestContent .swiperSlideImage {
        width: 250px;
    }
}

.acceptRequest {
    background: #6abd71;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);


}

.rejectRequest {
    background: #FF6F61;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.statusButtons {
    display: flex;
    gap: 15px;

}


.cardRequests .agentContainer {
    background: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}


.descRequest {
    padding-top: 20px;
    background: white;


}