.buildingContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 300px 20px 0;
}

.inputBuilding {
    background-color: gray;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    height: 20px;
    width: 50px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.64);
    font-size: 15px;
}

.buildingText {
    color: black;
    margin: 5px;
    text-align: left;
}

@media (max-width: 1100px) {
    .buildingContainer {
        margin: 20px 125px 20px 0;
    }
}