.priceSliderContainer {
    width: 80%;
}

.priceSlider {
    margin-left: 10px;
    margin-top: 20px;
    width: 100%;
}

.valueBox {
    padding: 5px 10px;
    color: black;
    border: 3px solid #BDE3FF;
    border-radius: 7px;
    background-color: white;
    text-align: center;
    width: 70px;
    margin-bottom: 20px;
}

.MuiSlider-thumb, .MuiSlider-rail, .MuiSlider-track {
    color: #086788;
}