#cardProperties{
    display: grid;
    margin: 0 auto;
    grid-gap: 1rem;
    max-width: 1500px;
}

.titleAndProperties{
    max-width: 1500px;
    justify-self: center;
}


#cardProperties .card{
    padding:10px;
    overflow: hidden;
    border: transparent;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    max-height: 450px;
    background: white;
    height: 100%;
}

#cardProperties .card-title{
    color: #2831e5;
    font-size: x-large;
    padding-top: 10px;
    font-weight: 500;
}

#cardProperties .card-text{
    color: #192175;
}

#cardProperties .carouselHolder{
    border-radius: 30px;
    overflow: hidden;
}

.swiperSlideImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiperSlideImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.swiperImage .swiper-button-prev, .swiper-button-next{
    border-radius: 50px;
    background: #ffffff;
    width: 30px;
    height: 30px;



}
.swiperImage .swiper-button-next::after, .swiper-button-prev::after{
    font-size: medium;
    font-weight: 900;

}


#cardProperties .card:hover{
    background-color: rgba(152, 197, 232, 0.49);
}

#cardProperties .card:hover .swiperImage .swiper-button-next, #cardProperties .card:hover .swiperImage .swiper-button-prev{
    opacity: 1;
}
#cardProperties .card .swiperImage .swiper-button-next, #cardProperties  .card  .swiperImage .swiper-button-prev{
    opacity: 0;
    transition: opacity 0.3s;
}



@media (min-width: 600px) {
    #cardProperties { grid-template-columns: repeat(2, 1fr); }
}


@media (min-width: 900px) {
    #cardProperties { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1200px) {
    #cardProperties { grid-template-columns: repeat(4, 1fr); }
}




